<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

    <import resource="classpath:repositoryContext.xml"/>

    <import resource="classpath:cacheContext.xml"/>

    <import resource="classpath:aopContext.xml"/>

    <import resource="classpath:serviceContext.xml"/>

    <import resource="classpath:facadeContext.xml"/>

    <jee:jndi-lookup id="dataSource" jndi-name="jdbc/catalog" expected-type="javax.sql.DataSource"/>

</beans>